/******************************************************************************
 *
 * Johnsonville Cooking - 300x250 Banner
 *
 *****************************************************************************/




/******************************************************************************
 *
 * Layout
 *
 *****************************************************************************/
body {
    margin: 0;
    padding: 0;
    width: 728px;
    height: 90px;
}

#banner {
    box-sizing: border-box;
    position: relative;
    width: 728px;
    height: 90px;
    text-align: center;
    border: solid 1px #333;
    color: white;
    cursor: pointer;
    overflow: hidden;
    visibility: hidden;
}

.background {
    position: absolute;
    width: 728px;
    height: 90px;
    background: url('bg.jpg') no-repeat;
    background-size: cover;
}

.headline {
    position: absolute;
    background: url('txt_headline.png') no-repeat;
    background-size: 458px 32px;
    width: 458px;
    height: 32px;
    left: 250px;
    top: 30px;
}

.word1 {
    width: 126px;
    height: 32px;
}

.word2 {
    width: 75px;
    height: 32px;
    left: 380px;
    background-position: -133px 0;
}

.word3 {
    width: 62.5px;
    height: 32px;
    left: 463px;
    background-position: -218px 0;
}

.word4 {
    width: 172.5px;
    height: 32px;
    left: 529px;
    background-position: -285px 0;
}

.sausage-sunday {
    position: absolute;
    background: url('sausageSunday.svg') no-repeat;
    background-size: 232px 57px;
    width: 232px;
    height: 57px;
    left: 250px;
    top: 16.5px;

    -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
}

.sausage {
    position: absolute;
    width: 232px;
    height: 90px;
    /*background: url('meatballs.png') no-repeat;
    background-size: cover;*/
    top: 0px;
    left: 0px;
    z-index: 15;
}


.logo {
    position: absolute;
    background: url('logo.svg') no-repeat;
    background-size: cover;
    width: 133px;
    height: 55px;
    top: 23px;
    left: 10px;
    z-index: 50;

    -webkit-filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
}

.cta-divider {
    position: relative;
    width: 196px;
    height: 2px;
    background-color: #fff;
    margin: auto;
}

.cta-divider-top {
    top: 15px;
    left: 245px;
}

.cta-divider-bottom {
    top: 72px;
    left: 245px;
}

.cta {
    position: absolute;
    background: url('txt_cta.png') no-repeat;
    background-size: cover;
    width: 164px;
    height: 34.5px;
    left: 510px;
    top: 27.75px;
}

.cta-arrow {
    background-color: tomato;
    position: absolute;
    background: url('arrow.svg') no-repeat;
    background-size: cover;
    left: 685px;
    top: 35px;
    width: 13px;
    height: 20px;
    z-index: 25;
}
.cta,
.cta-divider,
.cta-arrow {
    visibility: hidden;
}
