/******************************************************************************
 *
 * Chase Campaign 300x250 Banner
 *
 *****************************************************************************/
*, html {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: #fff; }

.wrapper {
  position: relative;
  width: 300px;
  height: 250px;
  border: 1px solid #777777;
  cursor: pointer;
  overflow: hidden;
  visibility: hidden; }

#banner {
  position: absolute;
  width: 300px;
  height: 250px; }

.bg {
  background: url("bg.jpg") no-repeat;
  background-size: cover;
  width: 300px;
  height: 250px; }

.text {
  background: url("text.png") no-repeat;
  background-size: 900px 250px;
  position: absolute;
  top: 0;
  width: 300px;
  height: 250px; }

.text1 {
  background-position: 0 0; }

.text2 {
  background-position: -300px 0; }

.text3 {
  background-position: -600px 0; }

.cta {
  background: url("txt_learn-more.png") no-repeat 6px;
  background-size: 76px 10px;
  position: absolute;
  left: 101px;
  top: 165px;
  width: 95px;
  height: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #0079c2; }
  .cta .over {
    border-color: tomato; }

.logo {
  position: absolute;
  background: url("logo.svg") no-repeat;
  width: 162px;
  height: 14px;
  z-index: 10;
  top: 219px;
  left: 70px;
}
