*{
margin: 0px;
padding: 0px;
}
#banner{
width: 728px;
height: 90px;
overflow: hidden;
cursor: pointer;
position: relative;
visibility: hidden;
}
.background{
width: 728px;
height: 90px;
background-image: url(bg.jpg);
position: absolute;
background-size: cover;
border-left: 2px solid #fff;
}
.logo{
width: 115px;
height: 48px;
background-image: url(logo.svg);
position: relative;
top: 25px;
left: 20px;
}
#text{
position: relative;
width: 310px;
height: 59px;
top: -10px;
left: 160px;
}
.txt1{
background-image: url(txt1.svg);
width: 32px;
height: 30px;
background-size: cover;
position: absolute;
left: 55px;
}
.txt2{
background-image: url(txt2.svg) ;
width: 157px;
height: 36px;
background-size: cover;
position: absolute;
left: 98px;
top: -9px;
}
.txt3{
background-image: url(txt3.svg);
width: 266px;
height: 41px;
background-size: cover;
position: absolute;
top: -24px;
left: 260px;
}
.background2{
width: 728px;
height: 90px;
background-image: url(bg2.jpg);
background-size: cover;
position: absolute;
}
.txt4{
background-image: url(txt4.svg);
width: 97px;
height: 54px;
background-size: cover;
position: absolute;
top: 18px;
left: 617px;
}
.endFrame{
background-image: url(ctaBg.jpg);
width: 435px;
height: 90px;
border-left: 2px solid #fff;
background-size: cover;
}

.gradient{
  width: 80px;
  height: 100%;
  opacity: .5;
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.5)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
  -ms-transform: skewX(-20deg); /* IE 9 */
  -webkit-transform: skewX(-20deg); /* Safari */
  transform: skewX(-20deg);
}

.cta{
background-image: url(cta.svg);
width: 215px;
height: 35.5px;
background-size: cover;
position: absolute;
left: 129px;
top: 27px;
}
.arrow{
position: absolute;
left: 348px;
top: 35px;
}
